<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - SnowplowExplorer</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<header id="main-title">Syracuse Snowplow Data Explorer</header>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About the Project</a></li>
				<li><a href="http://github.com/mphilli/snowplow-explorer">Source Code</a></li>
				<li><a href="/api">API Mode</a></li>
			</ul>
		</nav>
	</header>
    <br>
    <div id="middle-container">
        <h1>404</h1>
        <center>
        <p style="text-align:center">Looks like we got lost in the snow storm!</p>
        <p style="text-align:center">Click on a page from the menu above to get back on track.</p>
            </center>
    </div>
</body>
</html>